.question {
   @include adaptiv-value("padding-top", 160, 55, 1);
   @include adaptiv-value("padding-bottom", 120, 60, 1);
   position: relative;
   &__title {
      text-align: center;
      @include adaptiv-value("margin-bottom", 80, 45, 1);
   }
   &__inner {
      max-width: 760px;
      margin: 0 auto;
   }
   &__item {
      & + & {
         @include adaptiv-value("margin-top", 20, 15, 1);
      }
   }
   &__text {
      @include adaptiv-value("max-width", 450, 170, 1);
      @extend%roboto-700;
      @include adaptiv-value("font-size", 18, 16, 1);
      line-height: 22/18 * 100%;
      color: #000;
   }
   &__plus-minus {
      display: block;
      position: relative;
      @include adaptiv-value("width", 37, 27, 1);
      @include adaptiv-value("height", 37, 27, 1);
      background-color: #0095fe;
      box-shadow: 0px 6px 12px 0px rgba(0, 149, 254, 0.46);
      border-radius: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%) rotate(0deg);
      transition: 0.4s cubic-bezier(0.2, 0.6, 0.3, 1.1);
      cursor: pointer;
      @include adaptiv-value("margin-top", -22, -9, 1);
      margin-left: auto;
      z-index: 20;
      &:after {
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         height: 2px;
         width: 50%;
         background: #fff;
      }
      &:before {
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         height: 50%;
         width: 2px;
         background: #fff;
      }
      &.question__plus-minus--active {
         transform: translate(-50%, -50%) rotate(360deg);
         background: #cc2a41;
         box-shadow: 0px 6px 12px 0px rgba(#cc2a41, 0.46);
         &:before {
            width: 0;
         }
      }
   }
   &__content {
      display: none;
      max-width: 100%;
      background-color: #ebeaea;
      @include adaptiv-value("font-size", 16, 15, 1);
      line-height: 22/16 * 100%;
      color: #000;
      padding: 10px;
   }
}
