.slogan {
   @include adaptiv-value("padding-top", 185, 60, 1);
   @include adaptiv-value("padding-bottom", 50, 40, 1);
   background-color: #f9f9f9;
   &__title {
      @include adaptiv-value("margin-bottom", 35, 15, 1);
      &::selection {
         background-color: $accent;
      }
      &::after {
         content: "";
         display: none;
      }
   }
   &__row {
      display: flex;
      justify-content: space-between;
   }
   &__box-text {
      margin-right: 150px;
   }
   &__text {
      @extend%roboto-400;
      min-height: auto;
      line-height: 22px;
      & + & {
         @include adaptiv-value("margin-top", 20, 15, 1);
      }
      &::selection {
         color: #000;
         background-color: $accent;
      }
   }
   &__box-item {
      display: flex;
      flex-wrap: wrap;
      max-width: 505px;
      grid-gap: 12px;
   }
   &__item {
      flex: 0 1 200px;
      min-height: auto;
      @include adaptiv-value("padding-top", 105, 75, 1);
      @include adaptiv-value("padding-bottom", 20, 10, 1);
      @include adaptiv-value("padding-right", 15, 25, 1);
      @include adaptiv-value("padding-left", 15, 25, 1);
      background-color: #fff;
      box-shadow: 0 10px 10px 0 rgba(#000, 0.15);
      text-align: center;
      position: relative;
      &::before {
         content: "";
         background-image: url("../images/slogan/cleaning_1.svg");
         background-repeat: no-repeat;
         @include adaptiv-value("width", 55, 40, 1);
         @include adaptiv-value("height", 55, 40, 1);
         position: absolute;
         top: 30px;
         left: 50%;
         transform: translateX(-50%);
      }
      &_2 {
         &::before {
            background-image: url("../images/slogan/cleaning_2.svg");
            @include adaptiv-value("width", 56, 41, 1);
            @include adaptiv-value("height", 56, 41, 1);
         }
      }
      &_3 {
         &::before {
            background-image: url("../images/slogan/cleaning_3.svg");
            @include adaptiv-value("width", 54, 39, 1);
            @include adaptiv-value("height", 54, 39, 1);
         }
      }
      &_4 {
         &::before {
            background-image: url("../images/slogan/cleaning_4.svg");
            @include adaptiv-value("width", 57, 42, 1);
            @include adaptiv-value("height", 54, 39, 1);
         }
      }
   }
   &__desc {
      @extend%roboto-700;
      font-size: 15px;
      line-height: 20px;
      color: #000;
   }
}

@media (max-width: 1200px) {
   .slogan {
      &__box-text {
         margin-right: 0;
         @include adaptiv-value("margin-bottom", 50, 30, 1);
      }
      &__title {
         text-align: center;
      }
      &__row {
         display: block;
      }
      &__box-item {
         display: block;
         max-width: 100%;
         margin: 0 auto;
      }
      &__item {
         &:not(:last-child) {
            margin: 0 0 10px 0;
         }
      }
   }
}
