html {
   box-sizing: border-box;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

html,
body {
   height: 100%;
}

body.lock {
   overflow: hidden;
}

body {
   background-color: #fff;
   @extend%roboto-400;
   font-size: 15px;
   color: $default;
   min-width: 320px;
   overflow-x: hidden;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}
