.logo {
  display: block;
  z-index: 10;
  &__img {
    width: 169px;
    max-height: 169px;
    object-fit: cover;
  }
}

@media (max-width: 1125px) {
  .logo {
    margin-right: 25px;
  }
}

@media (max-width: 576px) {
  .logo {
    margin-right: 0;
  }
}
