.logo {
  display: block;
  width: 169px;
  height: 169px;
  z-index: 10;
  &__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1125px) {
  .logo {
    margin-right: 25px;
  }
}

@media (max-width: 576px) {
  .logo {
    margin-right: 0;
  }
}
