.logo {
   display: block;
   &__img {
      max-width: 169px;
      height: 169px;
      object-fit: cover;
   }
   &-mobile {
      display: none;
   }
}

@media (max-width: 450px) {
   .logo {
      &__img {
         max-width: 130px;
         height: 130px;
      }
   }
}

@media (max-width: 1115px) {
   .logo {
      display: none;
      &-mobile {
         display: block;
      }
   }
}
