.popup {
   max-width: 760px;
   @include adaptiv-value("margin-top", 50, 30, 0);
   @include adaptiv-value("margin-bottom", 50, 30, 0);
   margin: 0 auto;
   position: relative;
   &__close {
      position: absolute;
      top: -20px;
      right: -50px;
      z-index: 10;
      width: 35px;
      height: 35px;
      margin-left: auto;
      cursor: pointer;
      &-icon {
         @include adaptiv-value("width", 23, 20, 1);
         @include adaptiv-value("height", 23, 20, 1);
         fill: #0095fe;
         transition: fill 0.4s;
         &:hover {
            fill: #c75a9d;
         }
      }
   }
   &__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #130f2c;
      @include adaptiv-value("padding-top", 60, 30, 1);
      @include adaptiv-value("padding-bottom", 60, 30, 1);
   }
   &__title {
      @extend%roboto-700;
      max-width: 235px;
      @include adaptiv-value("font-size", 25, 22, 1);
      line-height: 32/25 * 100%;
      color: #fff;
      @include adaptiv-value("margin-bottom", 25, 20, 1);
   }
   &__img {
      position: absolute;
   }
   &__img_1 {
      top: -55px;
      left: -13px;
   }
   &__img_2 {
      top: -56px;
      right: 0;
   }
   &__img_3 {
      bottom: -63px;
      left: -18px;
   }
   &__img_4 {
      bottom: -63px;
      right: -14px;
   }
   &__text {
      max-width: 165px;
      font-size: 13px;
      line-height: 17px;
      color: #fff;
      position: absolute;
      span {
         display: inline-block;
         @extend%roboto-900;
      }
   }
   &__text_1 {
      top: 75px;
      left: 25px;
   }
   &__text_2 {
      top: 75px;
      right: 5px;
   }
   &__text_3 {
      max-width: 85px;
      bottom: 70px;
      left: 25px;
   }
   &__text_4 {
      max-width: 97px;
      bottom: 85px;
      right: 62px;
   }
}

.mfp-bg {
   background-color: #000;
   opacity: 0.9;
}

@media (max-width: 920px) {
   .popup {
      &__close {
         top: 10px;
         right: 10px;
      }
      &__img {
         display: none;
      }
      &__text {
         display: none;
      }
      .form {
         max-width: 100%;
      }
   }
}
