.pop {
  display: none;
  position: fixed;
  width: 760px;
  min-height: 407px;
  background-color: #130f2c;
  left: 30%;
  top: 20%;
  z-index: 20;
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
  }
  &__close {
    position: absolute;
    top: -20px;
    right: -38px;
    z-index: 10;
  }
  &__close-svg {
    width: 23px;
    height: 23px;
    fill: #0095febf;
    transition: fill 0.4s;
    &:focus {
      fill: #ca067f;
    }
    &:hover {
      fill: #c75a9d;
    }
    &:active {
      fill: #6d6767;
    }
  }
  &__title {
    @extend%roboto-700;
    max-width: 235px;
    font-size: 25px;
    line-height: 32px;
    color: #fff;
    margin-bottom: 25px;
  }
  &__img {
    position: absolute;
  }
  &__img--1 {
    top: -55px;
    left: -13px;
  }
  &__img--2 {
    top: -56px;
    right: 0;
  }
  &__img--3 {
    bottom: -63px;
    left: -18px;
  }
  &__img--4 {
    bottom: -63px;
    right: -14px;
  }
  &__text {
    max-width: 165px;
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    position: absolute;
    span {
      display: inline-block;
      @extend%roboto-900;
    }
  }
  &__text--1 {
    top: 75px;
    left: 25px;
  }
  &__text--2 {
    top: 75px;
    right: 5px;
  }
  &__text--3 {
    max-width: 85px;
    bottom: 70px;
    left: 25px;
  }
  &__text--4 {
    max-width: 97px;
    bottom: 85px;
    right: 62px;
  }
}
.popup {
  margin-left: 55px;
}

.bg-overlay {
  background: rgba(#000, 0.85);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -5;
  transition: background 0.15s linear;
}

@media (max-width: 1125px) {
  .popup {
    margin-left: 0;
  }
  .pop {
    left: 5%;
    top: 28%;
    &__close {
      top: 18px;
      right: 14px;
    }
  }
}

@media (max-width: 885px) {
  .pop {
    left: 4px;
    top: 28%;
  }
}

@media (max-width: 768px) {
  .popup {
    display: none;
  }
  .pop {
    display: none;
  }
}
