.scroller {
  position: fixed;
  bottom: 30px;
  left: 20px;
  cursor: pointer;
  z-index: 1000;
  display: none;
  &__arrow-circle {
    width: 45px;
    height: 45px;
    color: #7e0650;
    transition: color 0.4s;
    &:focus {
      color: #7e0650;
    }
    &:hover {
      color: #000;
    }
    &:active {
      color: #6d6767;
    }
  }
}

// @media (max-width: 768px) {
//   .scroller {
//     &__arrow {
//       display: none;
//     }
//   }
// }
