.social {
   padding: 17px 15px;
   background-color: #fff;
   box-shadow: 5px 4px 10px 5px rgba(#000, 0.25);
   border-radius: 10px;
   &__item {
      & + & {
         margin-top: 10px;
      }
   }
   &__img {
      @include adaptiv-value("width", 42, 27, 1);
      @include adaptiv-value("height", 42, 27, 1);
      transition: transform 0.5s;
      &--whatsapp,
      &--instagram,
      &--viber,
      &--vk,
      &--facebook,
      &--telegram {
         &:hover {
            transform: scale(1.09);
         }
      }
      &--vk {
         @include adaptiv-value("width", 43, 27, 1);
         @include adaptiv-value("height", 43, 27, 1);
         &:hover {
            transform: scale(1.09);
         }
      }
      &--facebook {
         @include adaptiv-value("width", 43, 27, 1);
         @include adaptiv-value("height", 43, 27, 1);
      }
   }
}

@media (max-width: 767.98px) {
   .social {
      display: none;
   }
}
